@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    right: 53%;
    transform: rotate(10deg);
  }
  100% {
    right: 50%;
    transform: rotate(0deg);
    transform: translate(50%, 0);
  }
}

.slideIn {
  right: -200%;
  top: 25%;
  position: absolute;
  transform-origin: center -100px;
  animation: slide 2s forwards;
}
